<div class="projects">
  <h3 class="projects__title">Proyectos</h3>

  <div class="projects__carousel">
    <div>
      <div class="projects__card">
        <div class="projects__card-image">
          <img
            src="https://cdn.dribbble.com/users/5264093/screenshots/14663735/media/c3759cc7a81ae91d52e93b351d75fddf.png?compress=1&resize=1200x900&vertical=top"
            alt="project1" />
        </div>
        <div class="projects__card-content">
          <h4 class="projects__card-title">Gastos Hogar</h4>
          <p><strong>Gastos Hogar</strong> es una app útil para controlar gastos mensuales. Visualiza gráficos de gastos
            diarios, mensuales o anuales según categoría.</p>
          <div class="projects__card-secondary-info">
            <h5>Tecnologías usadas</h5>
            <ul>
              <li>Framework Expo</li>
              <li>React Native</li>
              <li>React</li>
              <li>Base de datos SQLite</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>